.intro{
    height: 500px;
background-color: #e6d8d8;
    display:flex;
    flex-direction: column;
}
.juego {
    background-color: brown;
    display: flex;
    flex-direction: column;
}
h1 { 
    margin: auto;
    font-size: 200px;
   margin-bottom: 10px;
   font-family: 'Jim Nightshade', cursive;
}

.play-mode {
    margin: auto;
    margin-top: 30px;
    gap: 50px;
    display: flex;

}
.night-mode, .header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
}

.play, .instructions{
    width: 220px;
    height: 50px;
    font-size: x-large;
}

.texto {
    margin: auto;
}
